@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Northwind Traders</h1>
    <img src="~/img/northwind.png" alt="northwind" />
    <p>
        Proudly ditributing fine food products aroud the world for @{
            int dateDiff = DateTime.Now.Year - 1994;
            @dateDiff
            ;
        }
        years
    </p>
</div>
